<%@ page pageEncoding="UTF-8" %>
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Аптечный склад ООО "АЙБОЛИТ"</title>
    </head>
    <body>
        <header>
            <a href="/"><img src="photo/farm.jpg" alt="Ваша аватарка" id="top-image"/></a> 
            <div id="user-panel">
                <a href="#"><img alt="Корзина" scr="#"/></a>
                <a href="javascript:void(0);">Регистрация</a>
            </div>
        </header>